.bio-pic {
  width: 500px;
  height: 400px;
  border-radius: 5%;
  box-shadow: 1px 1px 100px #000;
}

.bio {
  display: flex;
  margin: 1%;
}

.bio-details {
  width: 100%;
  margin: auto 5% auto 5%;
  text-align: left;
  font-size: 20px;
}

.footer-pic {
  height: 100%;
  width: 100%;
  transform: rotate(180deg);
}

.tech {
  display: flex;
  justify-content: center;
}

.proficiencies {
  display: flex;
  flex-direction: row;
}

.tech-pic {
  width: 50px;
  height: 50px;
}
ul {
  display: flex;
  justify-content: center;
}

ul p {
  margin: 12px;
}