  
.header-container {
  color: #fdfdfd;
  background: linear-gradient(90deg, $secondaryColor, $primaryColor);
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  padding-right: 25px;
}

.navigation {
  align-self: flex-end;
}

.header-icon {
  width: 45px;
  height: 40px;
}

.email-icon {
  width: 45px;
  height: 35px;
}